    window-rule {
        geometry-corner-radius 20 // Set every window radius to 20
        clip-to-geometry true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    window-rule {
        match app-id="^Alacritty$"

        background-effect {
            blur true
        }
    }

    layer-rule {
        match namespace="^launcher$"

        background-effect {
            blur true
        }
    }

    window-rule {
        match app-id="Nautilus"

        popups {
            geometry-corner-radius 15
            opacity 0.5

            background-effect {
                blur true
            }
        }
    }
